/* line 类 */

::-webkit-scrollbar {
    border-radius: 7px;
    height: 14px;
    width: 14px;
}

::-webkit-scrollbar:hover {
    background-color: #efefef77;
}

::-webkit-scrollbar-thumb {
    background: #7f7f7f70;
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
}

::-webkit-scrollbar-corner {
    display: none;
}

/*CSS的基本操作*/

html, body {
  width: 100%;
  height: 100%;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.line {
  width: 100%;
  height: 10px;
  margin: 0 auto;
  /* 使用top */
  margin-top: 20%;
}
.date{
  display: block;
}
.tooltip{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50px; */
  /* height: 40px; */
  animation: show 0.3s ease-in-out;
}
  /* 逐渐显示动画 */
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 元素向左移出界面 */
@keyframes moveLeft {
  0% {
    display: grid;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    display: grid;
    transform: translateX(0);
  }
}
.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; 
  box-sizing: border-box;
  font-size: 62.5%;
  background: var(--greyLight-1);

  display: grid;
  grid-template-rows: 100px 100px; /* 定义两行，第一行高度为100px，第二行高度为200px */
  grid-template-columns: 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr; /* 定义两列，第一列宽度为10份，第二列宽度为20份 */
}

.moveRight{
  display: grid;
  animation: moveRight 0.3s ease-in-out;
}
.moveLeft{
  display: none;
  animation: moveLeft 0.3s ease-in-out;
}
.hide {
  display: block;
  opacity: 0;
  pointer-events: none;
  
  animation: hide 0.3s ease-in-out;

}
.typewriter {
  overflow: hidden; /* 隐藏超出容器范围的文字 */
}

.typing{
  animation: typing 2s steps(30, end); 
}

@keyframes typing {
  from { width: 0; } /* 宽度从0开始 */
  to { width: 100%; } /* 宽度增加到100% */
}

.img{
  max-width: 550px; /* 指定容器的最大宽度 */
  max-height: 550px;
  height: auto; /* 图片的高度自动调整以保持原始比例 */

  grid-row: 2; /* 子元素占据第1行至第3行的空间 */
  grid-column: 2; /* 子元素占据第2列至第3列的空间 */
}

.btn
{
  grid-column: 6/6;
  grid-row: 11/10;
}
.date
{
  grid-column: 1/1;
  grid-row: 11/10;  
}
.sidebar{
  width: 10%;
  height: 80%;
  z-index: 1000;
  /* 使其置顶 */

  position: fixed;
  top: 30px;
  /* 溢出自动添加滚动条 */
}
::-webkit-scrollbar-thumb {
  background: #7f7f7f70;
  background-clip: padding-box;
  border: 6px solid transparent;
  border-radius: 10px;
}

.shou-sidebar{
  width: 16%;
  height: 28%;
  z-index: 1000;

  position: fixed;
  top: 70%;
  /* 使用网格定位,平均分成3*3格 */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; /* 定义两行，第一行高度为100px，第二行高度为200px */
  grid-template-columns: 1fr 1fr 1fr; 

  grid-row-gap: 4px;
  grid-column-gap: 4px;

  transform: translateY(-50%);
  transition: left 0.3s ease-in-out;
}
.home{
  grid-row: 2;
  grid-column: 2;
}
.right{
  grid-row: 2;
  grid-column: 3;
}
.left{
  grid-row: 2;
  grid-column: 1;
}
.up{
  grid-row: 1;
  grid-column: 2;
}
.down{
  grid-row: 3;
  grid-column: 2;
}


